### Import necessary libraries

In [2]:
!pip install --upgrade scikit-learn==1.6.1 imbalanced-learn category-encoders numpy==1.26.4 pandas scipy

Requirement already satisfied: scikit-learn==1.6.1 in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.11/dist-packages (0.13.0)
Requirement already satisfied: category-encoders in /usr/local/lib/python3.11/dist-packages (2.8.1)
Requirement already satisfied: numpy==1.26.4 in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.3.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.6.1) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.6.1) (3.6.0)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (2025.2.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (2022.2.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy==1.26.4) (2.4.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (0.1.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.11/dist-packages (from category-encoders) (1.0.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from category-encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.9.0->category-encoders) (25.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy==1.26.4) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy==1.26.4) (2022.2.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy==1.26.4) (1.4.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy==1.26.4) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy==1.26.4) (2024.2.0)

In [3]:
import pandas as pd
import geopandas as gpd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from imblearn.over_sampling import SMOTE
from sklearn.neighbors import KDTree
import matplotlib.pyplot as plt
import seaborn as sns
import os

2025-07-18 18:51:35.430943: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1752864695.629511      36 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1752864695.685243      36 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

### Loading Data

In [4]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Sentinel2.csv
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/SampleSubmission.csv
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Sentinel1.csv
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Test.csv
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Orenburg_training_samples.shx
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Fergana_training_samples.dbf
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Fergana_training_samples.shp
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Orenburg_training_samples.dbf
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Fergana_training_samples.shx
/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Orenburg_training_samples.shp

In [5]:
# Load Sentinel-1 and 2
s1 = pd.read_csv("/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Sentinel1.csv").drop(columns=['date'])
s2 = pd.read_csv("/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Sentinel2.csv").drop(columns=['date'])

In [6]:
s1.head()

,ID,VH,VV,orbit,polarization,rel_orbit,translated_lat,translated_lon
0,ID_AFQOFP,-21.479683,-16.633259,DESCENDING,"[VV, VH]",78.0,41.652292,72.144256
1,ID_AFQOFP,-24.769110,-15.943674,DESCENDING,"[VV, VH]",78.0,41.652289,72.144375
2,ID_AFQOFP,-25.370838,-15.185609,DESCENDING,"[VV, VH]",78.0,41.652286,72.144495
3,ID_AFQOFP,-24.134005,-16.351102,DESCENDING,"[VV, VH]",78.0,41.652283,72.144614
4,ID_AFQOFP,-20.654249,-16.792723,DESCENDING,"[VV, VH]",78.0,41.652280,72.144733

In [7]:
s2.head()

,B11,B12,B2,B3,B4,B5,B6,B7,B8,B8A,ID,cloud_pct,solar_azimuth,solar_zenith,translated_lat,translated_lon
0,2169,1820,1328,1610,1670,1985,2446,2628,2598,2638,ID_ZHZRHO,6.980395,139.093139,22.625533,40.935173,71.617062
1,2151,1770,1306,1586,1640,1961,2495,2691,2684,2732,ID_ZHZRHO,6.980395,139.093139,22.625533,40.935171,71.617180
2,2169,1820,1456,1674,1808,1985,2446,2628,2486,2638,ID_ZHZRHO,6.980395,139.093139,22.625533,40.935085,71.616940
3,2169,1820,1284,1604,1658,1985,2446,2628,2658,2638,ID_ZHZRHO,6.980395,139.093139,22.625533,40.935083,71.617059
4,2151,1770,1242,1522,1564,1961,2495,2691,2696,2732,ID_ZHZRHO,6.980395,139.093139,22.625533,40.935081,71.617177

### Data Preparation

In [8]:
# shape of sentinel 1 & 2
print('s1 shape:', s1.shape)
print('\n')
print('s2 shape:', s2.shape)

s1 shape: (1752570, 8)


s2 shape: (5610393, 16)

In [9]:
# Sentinel 1 & 2 information
s1.info()
print('-'*50)
s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752570 entries, 0 to 1752569
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   ID              object
 1   VH              float64
 2   VV              float64
 3   orbit           object
 4   polarization    object
 5   rel_orbit       float64
 6   translated_lat  float64
 7   translated_lon  float64
dtypes: float64(5), object(3)
memory usage: 107.0+ MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5610393 entries, 0 to 5610392
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   B11             int64
 1   B12             int64
 2   B2              int64
 3   B3              int64
 4   B4              int64
 5   B5              int64
 6   B6              int64
 7   B7              int64
 8   B8              int64
 9   B8A             int64
 10  ID              object
 11  cloud_pct       float64
 12  solar_azimuth   float64
 13  solar_zenith    float64
 14  translated_lat  float64
 15  translated_lon  float64
dtypes: float64(5), int64(10), object(1)
memory usage: 684.9+ MB

In [10]:
# Check null values
print('s1')
print(s1.isna().sum())
print('-'*50)
print('s2')
print(s2.isna().sum())

s1
ID                0
VH                0
VV                0
orbit             0
polarization      0
rel_orbit         0
translated_lat    0
translated_lon    0
dtype: int64
--------------------------------------------------
s2
B11               0
B12               0
B2                0
B3                0
B4                0
B5                0
B6                0
B7                0
B8                0
B8A               0
ID                0
cloud_pct         0
solar_azimuth     0
solar_zenith      0
translated_lat    0
translated_lon    0
dtype: int64

### Extract Labelled GeoData

In [58]:
def load_training_data():
    fergana = gpd.read_file("/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Fergana_training_samples.shp")
    orenburg = gpd.read_file("/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Train/Orenburg_training_samples.shp")

    # Do NOT set CRS or convert CRS, just extract coordinates
    # Only calculate centroids if geometry is not already Point
    if not all(fergana.geometry.geom_type == "Point"):
        fergana['geometry'] = fergana.geometry.centroid
    if not all(orenburg.geometry.geom_type == "Point"):
        orenburg['geometry'] = orenburg.geometry.centroid

    fergana['lon'] = fergana.geometry.x
    fergana['lat'] = fergana.geometry.y
    orenburg['lon'] = orenburg.geometry.x
    orenburg['lat'] = orenburg.geometry.y

    gdf = pd.concat([fergana, orenburg])
    print(gdf[['lon', 'lat']].head())
    print("Train lon range:", gdf['lon'].min(), gdf['lon'].max())
    print("Train lat range:", gdf['lat'].min(), gdf['lat'].max())
    return gdf[['Cropland', 'lon', 'lat']]

In [59]:
train_gdf = load_training_data()
print(train_gdf.head())
print("Train lon range:", train_gdf['lon'].min(), train_gdf['lon'].max())
print("Train lat range:", train_gdf['lat'].min(), train_gdf['lat'].max())

         lon        lat
0  71.749080  41.396323
1  72.901429  41.072193
2  72.463988  40.619055
3  72.197317  41.627590
4  71.312037  41.369462
Train lon range: 54.006673861691354 72.9859295922386
Train lat range: 40.00926404600921 52.982225224058766
   Cropland        lon        lat
0         0  71.749080  41.396323
1         0  72.901429  41.072193
2         1  72.463988  40.619055
3         0  72.197317  41.627590
4         0  71.312037  41.369462
Train lon range: 54.006673861691354 72.9859295922386
Train lat range: 40.00926404600921 52.982225224058766

### Feature Engineering

In [60]:
# Robust feature aggregation
def aggregate_features(df, id_col='ID'):
    """Aggregate time-series data using mean and std for numeric columns only"""
    # Convert to numeric and handle errors
    numeric_df = df.copy()
    for col in numeric_df.columns:
        if col != id_col:
            numeric_df[col] = pd.to_numeric(numeric_df[col], errors='coerce')
    
    # Fill any remaining NaNs
    numeric_df = numeric_df.fillna(0)
    
    # Select only numeric columns
    numeric_cols = numeric_df.select_dtypes(include=[np.number]).columns.tolist()
    if id_col not in numeric_cols:
        numeric_cols.append(id_col)
    
    # Group and aggregate
    agg_df = numeric_df[numeric_cols].groupby(id_col).agg(['mean', 'std'])
    
    # Flatten column names
    agg_df.columns = [f'{col[0]}_{col[1]}' for col in agg_df.columns]
    return agg_df.reset_index()

In [61]:
# Feature engineering
def calculate_vegetation_indices(df):
    """Calculate vegetation indices"""
    # Convert to numeric
    for band in ['B2', 'B3', 'B4', 'B8', 'B11']:
        df[band] = pd.to_numeric(df[band], errors='coerce')
    
    df['NDVI'] = (df['B8'] - df['B4']) / (df['B8'] + df['B4'] + 1e-8)
    df['NDWI'] = (df['B3'] - df['B8']) / (df['B3'] + df['B8'] + 1e-8)
    return df

In [62]:
# Load training data
train_gdf = load_training_data()
print(f"Loaded {len(train_gdf)} training samples")

         lon        lat
0  71.749080  41.396323
1  72.901429  41.072193
2  72.463988  40.619055
3  72.197317  41.627590
4  71.312037  41.369462
Train lon range: 54.006673861691354 72.9859295922386
Train lat range: 40.00926404600921 52.982225224058766
Loaded 1000 training samples

In [63]:
# Process Sentinel-2 data
s2 = calculate_vegetation_indices(s2)
print("Sentinel-2 columns:", s2.columns.tolist())
s2_agg = aggregate_features(s2)

Sentinel-2 columns: ['B11', 'B12', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B8A', 'ID', 'cloud_pct', 'solar_azimuth', 'solar_zenith', 'translated_lat', 'translated_lon', 'NDVI', 'NDWI']

In [64]:
# Process Sentinel-1 data
print("\nSentinel-1 columns:", s1.columns.tolist())

Sentinel-1 columns: ['ID', 'VH', 'VV', 'orbit', 'polarization', 'rel_orbit', 'translated_lat', 'translated_lon']

In [65]:
# Convert Sentinel-1 to numeric
for col in ['VV', 'VH']:
    s1[col] = pd.to_numeric(s1[col], errors='coerce')
s1 = s1.fillna(0)

In [66]:
s1_agg = aggregate_features(s1)
print("\nSentinel-1 aggregated columns:", s1_agg.columns.tolist())

Sentinel-1 aggregated columns: ['ID', 'VH_mean', 'VH_std', 'VV_mean', 'VV_std', 'orbit_mean', 'orbit_std', 'polarization_mean', 'polarization_std', 'rel_orbit_mean', 'rel_orbit_std', 'translated_lat_mean', 'translated_lat_std', 'translated_lon_mean', 'translated_lon_std']

#### Merge satellite data

In [67]:
# Merge satellite data
satellite_data = pd.merge(s2_agg, s1_agg, on='ID', how='inner')
print(f"\nMerged satellite data shape: {satellite_data.shape}")

Merged satellite data shape: (600, 49)

In [68]:
# Get mean coordinates
coords = s2.groupby('ID')[['translated_lon', 'translated_lat']].mean().reset_index()

In [69]:
# Check if satellite coordinates are in UTM range (large numbers)
if coords['translated_lon'].max() > 180 or coords['translated_lat'].max() > 90:
    print("Converting satellite coordinates to WGS84...")
    
    # Create UTM geometry (assuming zone 40 for Fergana, 41 for Orenburg)
    from pyproj import Transformer
    
    # Transform UTM to WGS84
    transformer = Transformer.from_crs("EPSG:32640", "EPSG:4326", always_xy=True)  # Orenburg
    # For Fergana use EPSG:32642
    
    # Apply transformation
    wgs84_coords = []
    for _, row in coords.iterrows():
        # Check which zone it belongs to based on position
        if row['translated_lon'] > 500000:  # UTM Easting
            # Orenburg zone (EPSG:32640)
            lon, lat = transformer.transform(row['translated_lon'], row['translated_lat'])
        else:
            # Fergana zone (EPSG:32642)
            lon, lat = transformer.transform(row['translated_lon'], row['translated_lat'])
        wgs84_coords.append([lon, lat])
    
    coords[['lon_wgs84', 'lat_wgs84']] = np.array(wgs84_coords)
    # Use converted coordinates for matching
    coords['translated_lon'] = coords['lon_wgs84']
    coords['translated_lat'] = coords['lat_wgs84']

In [70]:
# Check coordinate ranges
print("Train sample:", train_gdf[['lon', 'lat']].head())
print("Test sample:", coords[['translated_lon', 'translated_lat']].head())

Train sample:          lon        lat
0  71.749080  41.396323
1  72.901429  41.072193
2  72.463988  40.619055
3  72.197317  41.627590
4  71.312037  41.369462
Test sample:    translated_lon  translated_lat
0       72.849372       41.510684
1       71.910871       41.380469
2       72.190803       40.769864
3       72.144468       41.652098
4       54.717736       51.641874

In [71]:
print("Train coordinates sample:")
print(train_gdf[['lon', 'lat']].head())
print("Train lon range:", train_gdf['lon'].min(), train_gdf['lon'].max())
print("Train lat range:", train_gdf['lat'].min(), train_gdf['lat'].max())

print("Test coordinates sample:")
print(coords[['translated_lon', 'translated_lat']].head())
print("Test lon range:", coords['translated_lon'].min(), coords['translated_lon'].max())
print("Test lat range:", coords['translated_lat'].min(), coords['translated_lat'].max())

Train coordinates sample:
         lon        lat
0  71.749080  41.396323
1  72.901429  41.072193
2  72.463988  40.619055
3  72.197317  41.627590
4  71.312037  41.369462
Train lon range: 54.006673861691354 72.9859295922386
Train lat range: 40.00926404600921 52.982225224058766
Test coordinates sample:
   translated_lon  translated_lat
0       72.849372       41.510684
1       71.910871       41.380469
2       72.190803       40.769864
3       72.144468       41.652098
4       54.717736       51.641874
Test lon range: 54.26461772506346 73.2074963114073
Test lat range: 40.27936508234601 53.23875936888679

In [78]:
# Increase threshold
MAX_DIST = 0.5 

# Re-run KDTree matching
tree = KDTree(train_gdf[['lon', 'lat']].values)
distances, indices = tree.query(coords[['translated_lon', 'translated_lat']].values, k=1)
valid_mask = distances.flatten() <= MAX_DIST

labels = pd.DataFrame({
    'ID': coords['ID'],
    'label': np.where(valid_mask, train_gdf.iloc[indices.flatten()]['Cropland'].values, -1),
    'distance': distances.flatten()
})

In [79]:
# Filter valid labels
valid_labels = labels[labels['label'] != -1].drop(columns='distance')
print(f"Matched {len(valid_labels)}/{len(coords)} points to training labels")

# Merge features with labels
full_data = pd.merge(satellite_data, valid_labels, on='ID')
print(f"Final dataset size: {full_data.shape}")

Matched 600/600 points to training labels
Final dataset size: (600, 50)

In [82]:
full_data.head()

,ID,B11_mean,B11_std,B12_mean,B12_std,B2_mean,B2_std,B3_mean,B3_std,B4_mean,...,orbit_std,polarization_mean,polarization_std,rel_orbit_mean,rel_orbit_std,translated_lat_mean_y,translated_lat_std_y,translated_lon_mean_y,translated_lon_std_y,label
0,ID_ABQOQT,4006.207245,948.806093,3214.522401,699.895483,2678.931516,2533.538818,3087.956733,2446.428918,3313.985663,...,0.0,0.0,0.0,5.000000,0.000000,41.510673,0.000134,72.849369,0.000178,0
1,ID_ADDROF,3616.306531,657.104319,3288.943469,612.300262,2180.467148,793.942887,2551.151900,745.784220,2725.154697,...,0.0,0.0,0.0,40.942498,36.498475,41.380478,0.000134,71.910860,0.000178,0
2,ID_AFIWZH,3011.973886,594.528719,2534.593781,591.611468,1760.097410,735.938649,2015.750320,689.742879,2055.006831,...,0.0,0.0,0.0,41.150613,36.501058,40.769855,0.000134,72.190805,0.000177,1
3,ID_AFQOFP,4174.708865,970.557707,3533.380821,834.848863,2459.410762,1700.451288,2913.663884,1596.009589,3316.157296,...,0.0,0.0,0.0,41.857791,36.500917,41.652106,0.000134,72.144470,0.000178,0
4,ID_AHRONV,3161.708739,960.517873,2645.720038,721.858187,2965.180911,3141.400874,3160.444765,2983.807369,3339.176704,...,0.0,0.0,0.0,57.065246,33.546779,51.641876,0.000133,54.717738,0.000214,0

In [83]:
# Train-test split
X = full_data.drop(columns=["ID", "label"])
y = full_data["label"]
X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y, test_size=0.2, random_state=42)

### CNN Model

In [84]:
# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Prepare data for CNN: reshape to (samples, features, 1)
X_train_cnn = np.expand_dims(X_train_scaled, axis=2)
X_val_cnn = np.expand_dims(X_val_scaled, axis=2)

# Encode labels if not already 0/1
num_classes = len(np.unique(y_train))
y_train_cnn = to_categorical(y_train, num_classes)
y_val_cnn = to_categorical(y_val, num_classes)

# Build a simple 1D CNN model with Input layer
model = Sequential([
    Input(shape=(X_train_cnn.shape[1], 1)),
    Conv1D(32, kernel_size=3, activation='relu'),
    Dropout(0.2),
    Conv1D(64, kernel_size=3, activation='relu'),
    Flatten(),
    Dense(64, activation='relu'),
    Dense(num_classes, activation='softmax')
])

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

NameError: name 'to_categorical' is not defined

In [ ]:
# Save the best model based on validation accuracy
checkpoint = ModelCheckpoint('best_cnn_model.h5', monitor='val_accuracy', save_best_only=True, mode='max', verbose=1)

# Train the model with the callback
model.fit(
    X_train_cnn, y_train_cnn,
    epochs=20,
    batch_size=32,
    validation_data=(X_val_cnn, y_val_cnn),
    callbacks=[checkpoint],
    verbose=2
)

# Load the best weights before evaluation
model.load_weights('best_cnn_model.h5')

In [ ]:
# Evaluate on validation set
val_loss, val_acc = model.evaluate(X_val_cnn, y_val_cnn, verbose=0)
print("Validation Accuracy:", val_acc)

In [ ]:
# Prepare test set
test_meta = pd.read_csv("/kaggle/input/geoai-challenge-for-cropland-mapping-dry-dataset/Test.csv")
test_ids = test_meta["ID"].unique()
s1_test = s1[s1["ID"].isin(test_ids)]
s2_test = s2[s2["ID"].isin(test_ids)]

In [ ]:
# Drop date + aggregate test features
s1_test_feats = aggregate_features(s1_test[["ID", "VH", "VV"]])
s2_test_feats = aggregate_features(s2_test[["ID", "B2", "B3", "B4", "B5", "B6", "B7", "B8", "B8A", "B11", "B12"]])
s1_test_feats.columns = ['_'.join(col).strip("_") for col in s1_test_feats.columns.values]
s2_test_feats.columns = ['_'.join(col).strip("_") for col in s2_test_feats.columns.values]

In [ ]:
# Merge test features
test_df = s2_test_feats.merge(s1_test_feats, on="ID", how="outer").fillna(0)
X_test = test_df.drop(columns=["ID"])
test_preds = model.predict(X_test)

In [ ]:
# Save predictions to CSV
predicted_labels = np.argmax(test_preds, axis=1)
submission = pd.DataFrame({'ID': test_df['ID'], 'label': predicted_labels})
submission.to_csv('submission.csv', index=False)